<div class="main">
  <app-fspathview [path]="path" ></app-fspathview> 
  <app-fsview [path]="path" (addPath)="addPath($event)" (removePath)="removePath()"
    (selElement)="selElement($event)"></app-fsview>
  <div class="operations">
    <button class="oper_btn" (click)="fselemaction = 'newdir'">Create Dir</button>
    <button class="oper_btn" (click)="fselemaction = 'newfile'">Create File</button>
    <button class="oper_btn" [class.disabled]="cur_elem.name.length == 0"
      (click)="fselemaction = isDir(cur_elem) ? 'rendir' : 'renfile'">Rename</button>
    <button class="oper_btn" [class.disabled]="cur_elem.name.length == 0"
      (click)="deleteAction()">Delete</button>
    <button class="oper_btn" [class.disabled]="cur_elem.name.length == 0 || isDir(cur_elem)"
      (click)="fsfiledit = true">Edit</button>
  </div>
  <app-fselemname *ngIf="fselemaction != 'none'" [placeholder]="fselemaction == 'newdir' || fselemaction == 'rendir' ? 'Directory name' : 'File name'"
    [btnName]="fselemaction == 'newdir' || fselemaction == 'newfile' ? 'Create' : 'Rename'"
    [value]="fselemaction == 'newdir' || fselemaction == 'newfile' ? '' : cur_elem.name"
    (done)="fselemnameDone($event)"></app-fselemname>
  <app-fsfileedit *ngIf="fsfiledit"
    [content]="cur_elem | fsfilecontent"
    (done)="fseditDone($event)"></app-fsfileedit>
</div>