.back {position: absolute; inset:  0; background: rgba(1,1,1,0.5);display: grid}
.main {justify-self: center;
    align-self: center;
    border: 2px outset;
    box-shadow: 0 0 3px gray;
    padding: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;}
.btn-wrapper {
    display: flex;
    align-self: center;
    gap: 10px;
}